{
  "extends": "airbnb-base",
  "rules": {
      "no-use-before-define": 0,
      "strict": 0,
      "comma-dangle": 1,
      "func-names": 0,
      "no-underscore-dangle": 0,
      "prefer-rest-params": 0,
      "no-param-reassign": 0,
      "prefer-template": 0,
      "new-cap": 0,
      "global-require": 0,
      "consistent-return": 0,
      "newline-per-chained-call": 0,
      "max-len": [2, 130]
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
